
$primary: #673AB7;
$success: #007D2B;
$light: #fff;
$dark: #000;
$body-background: rgb(240, 240, 240);
$navbar-height: 80px;
$sidebar-menu-height: 56px;
$rounded: 5px;


$laptop: 1499px;
$tablet: 1079px;
$mobile: 679px;
$small-mobile: 359px;


@mixin media-query($breakpoint){
  @media screen and (max-width: $breakpoint){
    @content;
  }
}


@mixin margin-lateral(){
  margin-right: calc(50% - 650px);
  margin-left: calc(50% - 650px);

  @include media-query($laptop){
    margin-right: 8%;
    margin-left: 8%;
  }  
  @include media-query($tablet){
    margin-right: 6%;
    margin-left: 6%;
  }
  @include media-query($mobile){
    margin-right: 20px;
    margin-left: 20px;
  }
  @include media-query($small-mobile){
    margin-right: 4px;
    margin-left: 4px;
  }
}


@mixin padding-lateral(){
  padding-right: calc(50% - 650px);
  padding-left: calc(50% - 650px);

  @include media-query($laptop){
    padding-right: 8%;
    padding-left: 8%;
  }  
  @include media-query($tablet){
    padding-right: 6%;
    padding-left: 6%;
  }
  @include media-query($mobile){
    padding-right: 3%;
    padding-left: 3%;
  }
  @include media-query($small-mobile){
    padding-right: 2px;
    padding-left: 2px;
  }
}


@mixin bg-schema($background-color, $text-color){
  background-color: $background-color;
  color: $text-color;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin flexbox($justify, $direction : row){
  display: flex; 
  flex-direction: $direction;
  align-items: center;
  justify-content: $justify;
}

@mixin cta-primary{
  @include bg-schema($primary, $light);
  cursor: pointer;
  padding: 8px 16px;
  font-weight: 500;
  border: none;
  border-radius: $rounded;
}

@mixin cta-secondary{
  @include bg-schema($light, $primary);
  cursor: pointer;
  border: 1px solid $primary;
  padding: 7px 15px;
  font-weight: 500; 
  border-radius: $rounded;
}

