@import './globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body{
  margin: 0px;
  background-color: $body-background;
  
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 42px;
  font-weight: 900;
  margin: 10px 0px;
  @include media-query($tablet){
    font-size: 36px;
  }
  @include media-query($mobile){
    font-size: 24px;
  }
}

h2{
  font-size: 32px;
  font-weight: 900;
  margin: 10px 0px;
  @include media-query($tablet){
    font-size: 26px;
  }
  @include media-query($mobile){
    font-size: 22px;
  }
}

h3{
  font-size: 22px;
  font-weight: 900;
  margin: 10px 0px;
  @include media-query($tablet){
    font-size: 20px;
  }
  @include media-query($mobile){
    font-size: 20px;
  }
}

p{
  line-height: 1.8;
  margin: 12px 0px;
}

main{
  min-height: calc(100vh - #{$navbar-height});
  @include media-query($mobile){
    min-height: calc(100vh - #{$sidebar-menu-height});
  }
}

.logo-component{
  
  span{
    @include size(42px, 42px);
    display: inline-block;
    border-radius: $rounded;
    border: 1px solid white;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    font-weight: 500;
    &:last-child{
      margin-left: 8px;
    }
  }
}


.backdrop-component{
  @include size(100vw, 100vh);
  position: fixed;
  top: 0px;
  background-color: $dark;
  opacity: 0.8;
}


.cover-section{
  @include margin-lateral;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  

  h1{
    width: 100%;
  }

  .text-container{
    width: 50%;    
    .cta-container{
      margin-top: 25px;     
      .cta{
        @include cta-primary;
      }
    
    }
  }

  .image{
    width: 50%;
    height: auto;
  }

  @include media-query($tablet){
    h1{
      order: 1;
    }

    .image{
      width: 100%;
      order: 2;
    }

    .text-container{
      width: 100%;
      order: 3;
    }

  }
}

.footer-component{
  @include size(100%, 180px);
  @include flexbox(space-between, column);
  @include bg-schema($dark, $light);
  padding-top: 40px;
}

.sobre-section{ 
  @include margin-lateral;
  padding: 80px 10%;
  @include media-query($tablet){
    padding: 80px 5%;
  }
  @include media-query($mobile){
    padding: 80px 0px;
  }

  .contato-container{
    margin-top: 40px;
    a{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 12px 0px;

      span{
        margin-left: 20px;
        font-size: 0.9em;
      }
    }
  }
}

.jogo-section{
  @include margin-lateral;

  form {
    @include flexbox(flex-start, column);
    width: 40%;
    margin: auto;
    padding-top: 160px;

    @include media-query($tablet){
      width: 60%;
    }

    @include media-query($mobile){
      width: 90%;
    }

    @include media-query($small-mobile){
      width: 95%;
    }
    label{
      text-align: center;
      line-height: 1.6;
    }


    input[type=text]{
      padding: 8px 12px;
      margin-top: 10px;
      width: 100%;
      border-radius: $rounded;
      line-height: 1.6;
      border: 1px solid #888;
    }

    input[type=submit]{
      @include cta-primary;
      background-color: $success;
      margin-top: 20px;
    }    
  }
}

.historia-section{
  @include flexbox(flex-start, column);
  width: 40%;
  margin: auto;
  padding-top: 80px;

  @include media-query($tablet){
    width: 60%;
  }

  @include media-query($mobile){
    width: 90%;
  }

  @include media-query($small-mobile){
    width: 95%;
  }

  h3{
    text-align: center;
  }
  .text-container{
    span{
      color: #482880;
      font-weight: 600;
    }
  }

  .cta-primary{
    @include cta-primary;   
    margin-top: 20px;
    margin-bottom: 60px;
  }
}